body {
   background-color: #f9d8d3;
    margin-right: 100px;
}

#firstimage {
    width: cover;
    height: 600px;
    border: black;
}

h1 {
    text-align: center;
    font-family: Abril Fatface;
    font-size: 180px;
   background-color: #f9d8d3;
    width: cover;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 h2 {
    color: fuchsia;
}

p{
    color: black;
}
